body{
    background-color: rgb(224, 223, 223);
}


.grid-container{
    display: grid;
  /* grid-template-columns: repeat(2,500px); */
  grid-template-columns: 500px 500px ;
    grid-template-rows: 80px 80px;
    
    grid-gap: 100px;
    grid-column-gap: 200px;
    margin: 3px;
    /* border: 2px solid red; */
}

.sol{
    display: grid;
    grid-template-columns: repeat(4,200px);
    grid-template-rows: 170px;
    grid-column-gap: 70px;

    
   
}

.link{
    text-decoration: none;
    color: black;


}
.list-unstyled li a{
    text-decoration: none;
    color: black;
}

.list-unstyled {
    list-style: none;
}



.jis{
  display: grid;
  grid-template-columns: 500px 500px;
  grid-template-rows: 0px 0px;
  grid-gap: 50px;
  grid-column-gap: 380px;
  font-size: 20px;
  background-color: rgb(134, 62, 194);
  
}
.grid-item1 a{
    padding: 3px 10px;
    font-family: 'Baloo Bhai 2', cursive;
}
.grid-item1 a:hover{
    color: rgb(236, 225, 225);
    background-color: rgb(0, 0, 0);
    border-radius: 14px;
}